.footer {
    background-color: var(--Very-dark-gray-blue);
    border-radius: 0 105px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 4.5rem 0;
    color: var(--White);
}

.footer img {
    padding-bottom: 2.25rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: .61rem;
}

.footer h4 {
    font-size: 1.1rem;
    font-family: var(--Ubuntu);
    font-weight: 500;
    padding-bottom: 1.25rem;
}

.footer li {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--Grayish-blue);
}

.footer li a {
    text-decoration: none;
    color: var(--Grayish-blue);
}

.footer li a:hover {
    text-decoration: underline;
    color: var(--White);
}

@media screen and (min-width: 1024px) {
    .footer {
        display: grid;
        grid-template-columns: 22% 20% 20% 20%;
        text-align: start;
        justify-content: center;
        gap: 0rem;
        padding: 4.5rem 3rem;
    }
    
    .footer img {
        align-self: flex-start;
    }
    
    .footer ul {
        align-self: flex-start;
        gap: .8rem;
        padding-top: .25rem;
    }
    
    .footer h4 {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
    
    .footer li {
        font-size: 1rem;
    }
}