.free {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    padding: 0 1.5rem;
}

.free img {
    width: 100%;
}

.free-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    color: var(--Very-dark-grayish-blue);
}

.free-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.free-paragraph {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 28px;
}

@media screen and (min-width: 1024px) {
    .free {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 9rem 10rem;
        gap: 5rem 1.5rem;
    }

    .main {
        position: relative;
        overflow: hidden;
    }

    .free picture {
        grid-area: 1 / 2 / 4;
        position: absolute;
        bottom: 125px;
        left: -275px;
        width: 66.9%;
    }

    .future-title {
        grid-area: 1 / 1 / 2 / 3;
        font-size: 2.3rem;
        padding: 0 0 1.25rem 0;
    }
    

    .free-text-container {
        text-align: start;
        gap: 1.5rem;
        min-width: 500px;
    }
    
    .free-text-container:nth-of-type(1) {
        grid-area: 2 / 2 / 3;
    }

    .free-text-container:nth-of-type(2) {
        grid-area: 3 / 2 / 4 / 2;
    }
    
    .free-paragraph {
        font-family: var(--Ubuntu);
        font-size: .95rem;
        line-height: 28px;
        letter-spacing: 1px;
    }
    
}