.state {
    background: url('../../../images/bg-pattern-circles.svg') center top -220px no-repeat, linear-gradient(to bottom, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
    background-size: cover; 
    border-radius: 0 105px 0 105px;
    margin: 9rem 0 0;
    padding: 15rem 1.75rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    position: relative;
    color: var(--White);
}

.state-phones {
    position: absolute;
    margin: auto;
    top: -180px;
    left: 0;
    right: 0;
}

.state-title {
    font-size: 2.25rem;
    font-weight: 500;
}

.state-paragraph {
    font-size: .9rem;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {
    .state {
        background: url('../../../images/bg-pattern-circles.svg') left -170px bottom -100px no-repeat, linear-gradient(to bottom, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
        background-size: 70%;     
        display: grid;
        grid-template-columns: 50%;
        margin: 7rem 0 0;
        padding: 7.1rem 11rem;
        text-align: start;
        position: static;
        align-items: center;
        position: relative;
    }
    
    .state-phones {
        position: absolute;
        grid-area: 1 / 1 / 3;
        left: -50px;
        bottom: -220px;
        right: auto;
        width: 45%;
    }
    
    .state-title {
        grid-area: 1 / 2;
        font-size: 2.25rem;
        letter-spacing: 1px;
    }
    
    .state-paragraph {
        grid-area: 2 / 2;
        align-self: flex-start;
        letter-spacing: 1px;
    }
    
}
