@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import 'partials/header.css';
@import 'partials/menu.css';
@import 'partials/future.css';
@import 'partials/state.css';
@import 'partials/free.css';
@import 'partials/footer.css';

:root {
    --Very-dark-blue: #1f3f5b;
    --White: #ffffff;
    --White-opac: #ffffff3a;
    --Grayish-blue: #c8c8cb;
    --Grayish-blue-opac: #c8c8cb3f;
    --Very-dark-grayish-blue: #4b5862;
    --Very-dark-black-blue: #25252d;
    --box-shadow: #25252d4a;
    --Light-red: #ff3d54;
    --Light-red-two: #ff525d;
    --Very-light-red: #ff8f70;
    --Very-light-red-two: #ff7a85;
    --Very-dark-gray-blue: #2c2d3f;
    --Very-dark-desaturated-blue: #3f4164;
    --Ubuntu: "Ubuntu", sans-serif;
    --Overpass: "Overpass", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Overpass);
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 4.75rem 0;
}

.attribution {
    display: none;
}

@media screen and (min-width: 1024px) {
    .main {
        padding: 4.75rem 0 9.5rem;
    }        
}